#include <dt-bindings/zmk/matrix_transform.h>
#include <layouts/corne_xiao/6column.dtsi>

 &corne_xiao_6col_layout {
    transform = <&default_transform>;
};
/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &corne_xiao_6col_layout;
    };
};
